<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 46" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="(/$|\.)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{URL}/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 47">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}\.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 48" stopProcessing="true">
                    <match url="^public/css/(.*)" />
                    <action type="Rewrite" url="/template/style/{R:1}" />
                </rule>
                <rule name="Imported Rule 49" stopProcessing="true">
                    <match url="^public/img/(.*)" />
                    <action type="Rewrite" url="/template/image/{R:1}" />
                </rule>
                <rule name="Imported Rule 50" stopProcessing="true">
                    <match url="^public/js/(.*)" />
                    <action type="Rewrite" url="/template/javascript/{R:1}" />
                </rule>
                <rule name="Imported Rule 51" stopProcessing="true">
                    <match url="^public/scss/(.*)" />
                    <action type="Rewrite" url="/template/scss/{R:1}" />
                </rule>
                <rule name="Imported Rule 52" stopProcessing="true">
                    <match url="^public/lib/(.*)" />
                    <action type="Rewrite" url="/template/jquery/{R:1}" />
                </rule>
                <rule name="Imported Rule 53" stopProcessing="true">
                    <match url="^public/skins/(.*)" />
                    <action type="Rewrite" url="/template/skins/{R:1}" />
                </rule>
                <rule name="Imported Rule 54" stopProcessing="true">
                    <match url="^public/font/(.*)" />
                    <action type="Rewrite" url="/template/fonts/{R:1}" />
                </rule>
                <rule name="Imported Rule 55" stopProcessing="true">
                    <match url="^public/sound/(.*)" />
                    <action type="Rewrite" url="/template/audio/{R:1}" />
                </rule>
                <rule name="Imported Rule 56" stopProcessing="true">
                    <match url="^public/film/(.*)" />
                    <action type="Rewrite" url="/template/video/{R:1}" />
                </rule>
                <rule name="Imported Rule 57" stopProcessing="true">
                    <match url="^public/doc/(.*)" />
                    <action type="Rewrite" url="/template/document/{R:1}" />
                </rule>
                <rule name="Imported Rule 58" stopProcessing="true">
                    <match url="^public/guide/(.*)" />
                    <action type="Rewrite" url="/template/file/{R:1}" />
                </rule>
                <rule name="Imported Rule 59" stopProcessing="true">
                    <match url="^file/(.*)" />
                    <action type="Rewrite" url="/upload/{R:1}" />
                </rule>
                <rule name="Imported Rule 60" stopProcessing="true">
                    <match url="^storage/(.*)" />
                    <action type="Rewrite" url="/backup/{R:1}" />
                </rule>
          
                <rule name="Imported Rule 64" stopProcessing="true">
                    <match url="^account/verify/([^/]+)/([^/]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=verify&amp;email={R:1}&amp;code={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 65" stopProcessing="true">
                    <match url="^account/new-password/([^/]+)/([^/]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=new-password&amp;email={R:1}&amp;code={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 66" stopProcessing="true">
                    <match url="^login/([^/]+)/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=login&amp;redirect={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 67" stopProcessing="true">
                    <match url="^login/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=login" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 68" stopProcessing="true">
                    <match url="^forgot-password/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=forgot-password" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 69" stopProcessing="true">
                    <match url="^resend-validation/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=resend-validation" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 70" stopProcessing="true">
                    <match url="^change-password/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=change-password" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 71" stopProcessing="true">
                    <match url="^logout/$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=logout" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 72" stopProcessing="true">
                    <match url="^reset-password/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=reset-password&amp;email={R:1}&amp;code={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 73" stopProcessing="true">
                    <match url="^account/manage/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=manage&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 74" stopProcessing="true">
                    <match url="^account/manage/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=manage" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 75" stopProcessing="true">
                    <match url="^account/profile/([a-zA-Z0-9-]*)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=profile&amp;id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 76" stopProcessing="true">
                    <match url="^account/all/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=all&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 77" stopProcessing="true">
                    <match url="^account/user/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=account&amp;view=user&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 78" stopProcessing="true">
                    <match url="^gcash/claim-summary/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=gcash&amp;view=claim-summary&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 79" stopProcessing="true">
                    <match url="^gcash/claim/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=gcash&amp;view=claim&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 80" stopProcessing="true">
                    <match url="^gcash/declaration/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=gcash&amp;view=declaration&amp;page={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 81" stopProcessing="true">
                    <match url="^dashboard/$" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=dashboard" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 82" stopProcessing="true">
                    <match url="^notification/email/([0-9]+)/?$" />
                    <action type="Rewrite" url="index.php?controller=notification&amp;view=email&amp;page={R:1}" appendQueryString="false" />
                </rule>
		 <rule name="Imported Rule 61" stopProcessing="true">
                    <match url="^([a-z]+)/([^/]+)/([a-zA-Z0-9-]*)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;view={R:2}&amp;id={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 62" stopProcessing="true">
                    <match url="^([a-z]+)/([^/]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;view={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 63" stopProcessing="true">
                    <match url="^([a-z]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller={R:1}&amp;view=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 83">
                    <match url="^bad-request/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error400" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 84">
                    <match url="^unauthorized/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error401" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 85">
                    <match url="^forbidden/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error403" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 86">
                    <match url="^page-not-found/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error404" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 87">
                    <match url="^internal-server-error/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=error500" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 88">
                    <match url="^coming-soon/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=coming-soon" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 89">
                    <match url="^under-maintenance/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=under-maintenance" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 90">
                    <match url="^modal-not-found/$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?controller=page&amp;view=errorModal" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
